<p>
  Hi<%= " #{@user.handle}" if @user.handle.present? %>,
</p>
<p>
  We're just checking in to remind you to <%= link_to 'write', root_url %> today. Even if it is only a few words we know you'd enjoy it.
</p>
<p>
  Sincerely,
</p>
<p>
  Loggd Team
</p>

