@import 'overrides';
@import 'bootstrap';
@import 'font-awesome';

html,
body {
  height: 100%;
}

section#navbar {
  margin-bottom: 1rem;
}

section#content {
  min-height: calc(100vh - 50px - 56px - 20px);
}

#footer {
  height: 50px;
}

.jumbotron-brand-image {
  max-width: 100%;
}
