<section id="footer">
  <footer>
    <nav class="nav nav-expand-lg nav-light">
      <div class="nav mr-auto">
        <a href="https://github.com/evan-duncan/loggd" class="nav-link">Source</a>
        <a href="https://github.com/evan-duncan/loggd/blob/master/LICENSE" class="nav-link">License</a>
        <a href="https://github.com/evan-duncan/loggd/issues/new" class="nav-link">Feature Request</a>
      </div>
      <div class="navbar-text text-muted px-3">&copy; <%= Time.now.year %> Evan E. Duncan</div>
    </nav>
  </footer>
</section>
